:root {
  --genColorGlass: rgb(68, 87, 197); /*бывший --generalColor */
  --genTextColor: rgb(51, 51, 51); /* основной цвет текста */
  --genTextSizeExtraSmall: calc(var(--genTextSize) - 4px); /* размер текста для очень мелких элементов */
  --genTextSizeSmall: calc(var(--genTextSize) - 2px); /* размер текста для мелких элементов */
  --genTextSize: 12px; /* основной размер текста */
  --genTextSizeH1: calc(var(--genTextSize) + 2px); /* размер текста для заголовков */
  --genTextSizeH2: calc(var(--genTextSize) + 4px); /* размер текста для подзаголовков */
  --genTextSizeH3: calc(var(--genTextSize) + 6px); /* размер текста для важных заголовков */
  --genTextSizeH4: calc(var(--genTextSize) + 8px); /* размер текста для важных заголовков */

  --svgColor: rgb(124, 124, 124); /* цвет иконок SVG */
  --svgSize: 20px; /* размер иконок SVG */
  --svgSizeBig: 45px; /* размер иконок для больших кнопок SVG */
  

  /*панели*/
  --padRadius: 26px; /* радиус скругления панелей */
  --padBlur: 5px; /* размытие фона для эффекта стекла */
  
  /*каленарь*/  /* Таблицы 
  здесь были цвета многие дублировались , по этому надо будет делать палитру цветов единую для всех
  --------------------- */

/*--- переменные стекла фона ---*/
/*Light*/
  --gbLLine1: color-mix(in srgb, var(--genColorGlass) 30%, transparent);
  --gbLLine2: color-mix(in srgb, var(--genColorGlass) 10%, transparent);
  --gbLLine3: color-mix(in srgb, var(--genColorGlass) 5%, transparent);
/*Darck*/
  --gbDLine1: color-mix(in srgb, var(--genColorGlass) 12%, transparent);
  --gbDLine2: color-mix(in srgb, var(--genColorGlass) 5%, transparent);
  --gbDLine3: color-mix(in srgb, var(--genColorGlass) 8%, transparent);
}

/* Favicon цвет через CSS переменную */
link[rel="icon"] { /*это не работает иконка всёравно черная может удалить или починить?*/
  color: var(--genColorGlass);
}



