.content {
     margin: 47px 6px 10px 47px;
}

/* Маска под TopBar — скрывает прокручиваемый контент под полупрозрачным хедером */
.content::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  /*background: #ffffff;*/
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-mask-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 20%);
  mask-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 20%);
  border-bottom-right-radius: var(--panelRadius);
  z-index: 99;
}
/*
@media (prefers-color-scheme: dark) {   /* Темная тема: маска под TopBar становится темной, чтобы не выделяться на фоне остального контента 
  .content::before {
    background: #242424;
  }
}*/

/* ========== CONTENT MOBILE (<=350px) ========== */
@media (max-width: 480px) {
  .content {
    margin-left: 6px;

  }

  /*
  .content::before {
    height: 135px;
  }*/
}
