.top-bar {
  position: fixed;
  top: 0; left: 0; right: 0;
  height: 60px;
  background: var(--glass-bg);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid var(--neon-green);
  border-radius: 8px;
  margin: 10px; /* Отступ от краев экрана */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  z-index: 1000;
  box-sizing: border-box;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 12px;
}

.owner-photo {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  border: 1px solid var(--neon-green);
  object-fit: cover;
}

.site-name {
  font-weight: bold;
  color: #333;
  font-size: 1.1rem;
}

/* ========== TOPBAR MOBILE (<=768px) ========== */

@media (max-width: 768px) {
  .top-bar {
    margin: 5px;
    height: 46px;
    /*padding:  10px;*/
    border-radius: 6px;
    padding-left: 55px;
  }

  .owner-photo {
    width: 35px !important;
    height: 35px !important;
  }

  .logo-area {
    gap: 8px;
  }
}

