.top-bar {
  position: fixed;
  top: 0; left: 0; right: 0;
  height: 40px;
  background: var(--glass-bg);
  -webkit-backdrop-filter: var(--glass-bgFilter);
  backdrop-filter: var(--glass-bgFilter);
  border: 1px solid var(--generalColor);
  border-bottom-left-radius: var(--panelRadius);
  border-bottom-right-radius: var(--panelRadius);
  border-top: none;
  /*border-radius: var(--panelRadius);*/
  /*margin: 10px 21px 10px 10px;  Отступ от краев экрана */
  box-shadow: var(--glass-shadowPanel);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  z-index: 1000;
  box-sizing: border-box;
}

.logo-area {  /* область для логотипа и названия сайта*/
  display: flex;
  align-items: center;
  gap: 12px;
}

.owner-photo { /* фотография владельца (аватар) */
  width: var(--glass-widthButton) !important;
  height: var(--glass-heightButton) !important;
  border-bottom-left-radius: var(--panelRadius);
  border-bottom-right-radius: var(--panelRadius);
  border: 1px solid var(--generalColor);
  object-fit: cover;
}

.site-name {  /* название проекта рядом с фото  */
  font-weight: bold;
  color: var(--generalTextColor);
  font-size: 1.1rem;
}

.promotion-text {
    color: #DC143C;
    font-size: clamp(16px, 2vw, 32px);
    font-weight: 700;
    margin-left: 10px !important;
    margin-block-end: 0px;
    margin-block-start: 0px;
    background: #eaf801;
    background-origin: padding-box;
    padding: 4px;
    border-radius: 15px;
    border: 2px solid;
    text-transform: uppercase;
    white-space: nowrap;
}

/* ========== TOPBAR MOBILE (<=768px) ========== */

@media (max-width: 768px) {
  .top-bar {
    margin: 5px 13px;
    height: 46px;
    min-width: 255px ;
    /*padding:  10px;*/
    border-radius: var(--panelRadius);
    padding-left: 44px;
    padding-bottom: 1px;
    box-shadow: var(--glass-shadowPanel);
  }

  .owner-photo {
    width: 35px !important;
    height: 35px !important;
  }

  .logo-area {
    gap: 8px;
  }
}

