.top-bar {
  position: fixed;
  top: 0; left: 0; right: 0;
  height: 40px;
  min-width: 266px;
  background: var(--glass-bg);
  -webkit-backdrop-filter: var(--glass-bgFilter);
  backdrop-filter: var(--glass-bgFilter);
  border: 1px solid var(--generalColor);
  border-bottom-left-radius: var(--panelRadius);
  border-bottom-right-radius: var(--panelRadius);
  border-top: none;
  /*border-radius: var(--panelRadius);*/
  /*margin: 10px 21px 10px 10px;  Отступ от краев экрана */
  margin-right: 6px;
  box-shadow: var(--glass-shadowPanel);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  z-index: 1000;
  box-sizing: border-box;
}

.logo-area {  /* область для логотипа и названия сайта*/
  display: flex;
  align-items: center;
  gap: 12px;
}

.owner-photo { /* фотография владельца (аватар) */
  
  width: var(--glass-widthButton) !important;
  height: var(--glass-heightButton) !important;
  min-width: var(--glass-widthButton) !important;
  min-height: var(--glass-heightButton) !important;
  border-bottom-left-radius: var(--panelRadius);
  border-bottom-right-radius: var(--panelRadius);
  border: 1px solid var(--generalColor);
  object-fit: cover;
}

.site-name {  /* название проекта рядом с фото  */
  font-weight: bold;
  color: var(--generalTextColor);
  font-size: clamp(8px, var(--generalTextSize), 20px);
  /* 1. Убираем пространство под текстом */
  line-height: 1; /* Или установи равным font-size, например 16px */
  height: auto;   /* Чтобы высота подстраивалась под текст */
  padding: 0;     /* На всякий случай сбрасываем внутренние отступы */
  /* 2. Убираем смещение вправо */
  text-align: center; /* Выравниваем текст по центру */
  margin-left: 0;   /* Убираем внешние отступы слева */

}

.promotion-text {
    font-size: clamp(6px, var(--generalTextSize), 24px);
    font-weight: 700;
    color: crimson;
    margin-left: 10px !important;
    margin-block-end: 0px;
    margin-block-start: 0px;
    background: #eaf801;
    background-origin: padding-box;
    padding: 4px;
    border-radius: 15px;
    border: 2px solid;
    text-transform: uppercase;
    white-space: nowrap;
}

/* ========== TOPBAR MOBILE (<=768px) ========== */

@media (max-width: 480px) {
 
  .side-bar .glass-button,
  .top-bar .glass-button {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: var(--glass-borderRadiusButton) !important;
  border-bottom-right-radius: var(--glass-borderRadiusButton) !important;
  }

  .promotion-text {
    margin-left: 0px !important;
    margin-right: 6px !important;
  }

  .owner-photo {
    margin-left: 36px;
  }

  .logo-area {
    gap: 4px;
  }
}

