
body {
  margin: 0;
  padding: 0;
  /*display: flex;
  place-items: center;*/
  min-width: 280px;
  min-height: 100vh;
  background: var(--bgGeneral);
}

/* Scrollbar для модальных окон (НЕ трогаем по твоему указанию) */



::-webkit-scrollbar {
  width: 2px;                     /* ширина скроллбара */

}

::-webkit-scrollbar-track {
 /* background: rgba(0, 0, 0, 0.05);  /* Цвет дорожки */
  border-radius: 2px;             /* Скругление дорожки */

}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);  /* Цвет ползунка */
  border-radius: 2px;             /* Скругление ползунка */
}

::-webkit-scrollbar-thumb:hover { /* Немного затемняем при наведении */
  background: rgba(0, 0, 0, 0.3);
}